body {
    max-width: 500px;
}

img {
   max-width: 100%;
}

 .heading-group-h1 {
     display: block;
    float: left;
 }
.icon-menu {
    display: block;
    /* text-align: right;     */
    float: right;
    font-size: 30px;
}
header li {
    display: none;
}
@media {

}